/*
Selector universal para "resetear" estilos
predeterminados de los navegadores
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* el ancho y alto de un elemento incluyan borde o relleno.*/
}

/* Contenedor principal para organizar lso elementos en 3 filas*/
.container {
    display: grid;
    grid-template-rows: 1fr 3fr auto; /* Header Main Footer*/
    height: 100vh; /* Altura es 100% de la altura del viewport */
    font: bold 16px sans-serif; /* Establecer texto en negrita, 16px y fuente*/
}

/*  ====================================== 
                    HEADER
    ====================================== */

/* Asignar primera fila */
.header-container {
    grid-row: 1;
}

/* Imagen banner: El contenedor y la imagen ocupan todo el ancho disponible */
.banner-container, .banner-container img {
    width: 100%;
    height: 100%;
}

/*  ====================================== 
                    MAIN
    ====================================== */

/* Asignar segunda fila */
.main-container {
    grid-row: 2;
    background-color: white;
}

/* Seccion del main*/
.main-container section{
    height: 100%;
}

/* Contenedor de la galeria */
.section-container {
    display: grid;
    grid-template-rows: auto 1fr; /* Titulo ocupa su espacio y galería el resto */
}

/* Titulo de la galeria */
.section-container h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

/* Contenedor donde estan todas las imagenes de la galeria */
.galeria-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que las imagenes se reorganicen en una nueva fila */
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

/* Tarjetas de las imágenes */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background:#fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 5px ; 
    gap: 10px;
}

/* Las imagenes de la galeria */
.galeria-container img {
    margin: 10px; /* Espacio entre imagenes */
}

/*  ====================================== 
                    FOOTER
    ====================================== */

/* Asignar tercera fila */
.footer-container {
    grid-row: 3;
    background: #0d1117; 
}
/* Contenido del footer */
.footer-container p {
    margin: 20px;
    color:#fff
}

/*  ====================================== 
                    480px
    ====================================== */
    @media screen and (min-width : 480px) {

        .banner-container img {
            max-height: 200px;
        }
    
        .galeria-container img {
            max-width: 200px;
            max-height: 200px;
        }
    }
    
/*  ====================================== 
                    768px
    ====================================== */
    @media screen and (min-width : 768px) {
        .banner-container img {
            max-height: 325px; 
        }
    
        .galeria-container img {
            max-width: 350px; 
            max-height: 250px; 
        }
    }
    
/*  ====================================== 
                    992px
    ====================================== */
    @media screen and (min-width : 992px) {
        .banner-container img {
            max-height: 400px; 
        }
    
        .galeria-container img {
            max-width: 450px; 
            max-height: 300px; 
        }
    }
    
/*  ====================================== 
                    1200px
    ====================================== */
    @media screen and (min-width : 1200px) {
        .banner-container img {
            max-height: 500px;
        }
    
        .galeria-container img {
            max-width: 550px; 
            max-height: 350px; 
        }
    }